[Desktop Entry]
Type=Application
Name=Terminal
GenericName=Terminal Emulator
Comment=A shell, on either desktop
Exec=kdos-term
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;console;pty;
StartupWMClass=kdos-term
