[Desktop Entry]
Type=Application
Name=Terminal
GenericName=Terminal Emulator
Comment=A shell, in a window
Exec=kdos-term
Icon=system-run
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;console;pty;
StartupWMClass=kdos-term
