SUBSYSTEM=="input", ATTRS{name}=="QEMU QEMU USB Tablet", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="", ENV{ID_INPUT_JOYSTICK}="", ENV{ID_INPUT_POINTER}="1", ENV{ID_INPUT_MOUSE}="1"
