[Desktop Entry]
Type=Application
Name=Ardour
Comment=Ardour (alien app, kdos-apps box)
Exec=kdos-appbox run /usr/bin/ardour %f
Icon=ardour
Terminal=false
Categories=AudioVideo;X-AudioEditing;Audio;Recorder;
GenericName=Ardour Digital Audio Workstation
MimeType=application/x-ardour;
Keywords=audio;sound;jackd,DAW,multitrack,ladspa,lv2,midi
StartupWMClass=ardour
X-KDOS-Alien=true
