[Desktop Entry]
Type=Application
Name=Audacity
Comment=Audacity (alien app, kdos-apps box)
Exec=kdos-appbox run audacity %F
Icon=audacity
Terminal=false
Categories=AudioVideo;Audio;AudioVideoEditing;
GenericName=Sound Editor
MimeType=application/x-audacity-project;application/x-audacity-project+sqlite3;audio/basic;audio/x-aiff;audio/x-wav;audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;video/mpeg;audio/flac;audio/x-flac;audio/mpeg;application/ogg;audio/x-vorbis+ogg;
Keywords=sound;music editing;voice channel;frequency;modulation;audio trim;clipping;noise reduction;multi track audio editor;edit;mixing;WAV;AIFF;FLAC;MP2;MP3;
StartupWMClass=Audacity
X-KDOS-Alien=true
