[Desktop Entry]
Type=Application
Name=Blender
Comment=Blender (alien app, kdos-apps box)
Exec=kdos-appbox run blender %f
Icon=blender
Terminal=false
Categories=Graphics;3DGraphics;
GenericName=3D modeler
MimeType=application/x-blender;
Keywords=3d;cg;modeling;animation;painting;sculpting;texturing;video editing;video tracking;rendering;render engine;cycles;python;
StartupWMClass=Blender
X-KDOS-Alien=true
