[Desktop Entry]
Type=Application
Name=Foliate
Comment=Foliate (alien app, kdos-apps box)
Exec=kdos-appbox run foliate %U
Icon=com.github.johnfactotum.Foliate
Terminal=false
Categories=Office;Viewer;
GenericName=E-Book Viewer
MimeType=application/epub+zip;application/x-mobipocket-ebook;application/vnd.amazon.mobi8-ebook;application/x-fictionbook+xml;application/x-zip-compressed-fb2;application/vnd.comicbook+zip;x-scheme-handler/opds;
Keywords=Ebook;Book;EPUB;Viewer;Reader;
StartupWMClass=com.github.johnfactotum.Foliate
X-KDOS-Alien=true
