[Desktop Entry]
Type=Application
Name=Easy Effects
Comment=Easy Effects (alien app, kdos-apps box)
Exec=kdos-appbox run easyeffects
Icon=com.github.wwmm.easyeffects
Terminal=false
Categories=GTK;AudioVideo;Audio;
GenericName=Equalizer, Compressor and Other Audio Effects
Keywords=limiter;compressor;reverberation;equalizer;autovolume;
StartupWMClass=com.github.wwmm.easyeffects
X-KDOS-Alien=true
