[Desktop Entry]
Type=Application
Name=Drawing
Comment=Drawing (alien app, kdos-apps box)
Exec=kdos-appbox run drawing %U
Icon=com.github.maoschanz.drawing
Terminal=false
Categories=Graphics;GNOME;GTK;
MimeType=image/png;image/bmp;image/jpeg;
Keywords=Paint;Sketch;Pencil;
StartupWMClass=com.github.maoschanz.drawing
X-KDOS-Alien=true
