[Desktop Entry]
Type=Application
Name=Font Manager
Comment=Font Manager (alien app, kdos-apps box)
Exec=kdos-appbox run font-manager %u
Icon=com.github.FontManager.FontManager
Terminal=false
Categories=Utility;GTK;GNOME;
GenericName=Font Manager
MimeType=font/ttf;font/ttc;font/otf;font/sfnt;application/x-font-ttf;application/x-font-otf;application/vnd.ms-opentype;
Keywords=Graphics;Viewer;GNOME;GTK;Publishing;
StartupWMClass=font-manager
X-KDOS-Alien=true
