[Desktop Entry]
Type=Application
Name=Grsync
Comment=Grsync (alien app, kdos-apps box)
Exec=kdos-appbox run /usr/bin/grsync -i %f
Icon=grsync
Terminal=false
Categories=System;
GenericName=Synchronize files with rsync
MimeType=application/x-grsync-session;
StartupWMClass=grsync
X-KDOS-Alien=true
