[Desktop Entry]
Type=Application
Name=GTKWave
Comment=GTKWave (alien app, kdos-apps box)
Exec=kdos-appbox run gtkwave %F
Icon=gtkwave
Terminal=false
Categories=Utility;GTK;Electronics;Engineering;
GenericName=Electronic Waveform Viewer
MimeType=application/vnd.gtkwave-ae2;application/vnd.gtkwave-aet;application/vnd.gtkwave-evcd;application/vnd.gtkwave-fst;application/vnd.gtkwave-ghw;application/vnd.gtkwave-gtkw;application/vnd.gtkwave-lx2;application/vnd.gtkwave-lxt2;application/vnd.gtkwave-lxt;application/vnd.gtkwave-vcd;application/vnd.gtkwave-vzt;
StartupWMClass=gtkwave
X-KDOS-Alien=true
