[Desktop Entry]
Type=Application
Name=Dino
Comment=Dino (alien app, kdos-apps box)
Exec=kdos-appbox run dino %U
Icon=im.dino.Dino
Terminal=false
Categories=GTK;Network;Chat;InstantMessaging;
GenericName=Jabber/XMPP Client
MimeType=x-scheme-handler/xmpp;
Keywords=chat;talk;im;message;xmpp;jabber;
StartupWMClass=im.dino.Dino
X-KDOS-Alien=true
