[Desktop Entry]
Type=Application
Name=GoldenDict-ng
Comment=GoldenDict-ng (alien app, kdos-apps box)
Exec=kdos-appbox run goldendict %u
Icon=goldendict
Terminal=false
Categories=Office;Dictionary;Education;Qt;
GenericName=Multiformat Dictionary
MimeType=x-scheme-handler/goldendict;x-scheme-handler/dict;
Keywords=dict;dictionary;
StartupWMClass=GoldenDict-ng
X-KDOS-Alien=true
