[Desktop Entry]
Type=Application
Name=Ardour
Comment=Ardour (alien app, kdos-apps box)
Exec=kdos-appbox run /usr/bin/ardour %f
Icon=ardour
Terminal=false
Categories=AudioVideo;X-AudioEditing;Audio;Recorder;
X-KDOS-Alien=true
