[Desktop Entry]
Type=Application
Name=mpv
Comment=Video and music player (alien app, kdos-apps box)
Exec=kdos-appbox run mpv --player-operation-mode=pseudo-gui %U
Icon=mpv
Terminal=false
Categories=AudioVideo;Player;
X-KDOS-Alien=true
