[Desktop Entry]
Type=Application
Name=DB Browser for SQLite
Comment=DB Browser for SQLite (alien app, kdos-apps box)
Exec=kdos-appbox run sqlitebrowser %f
Icon=sqlitebrowser
Terminal=false
Categories=Development;Utility;Database;
X-KDOS-Alien=true
