[Desktop Entry]
Type=Application
Name=Geany
Comment=Geany (alien app, kdos-apps box)
Exec=kdos-appbox run geany %F
Icon=geany
Terminal=false
Categories=GTK;Development;IDE;TextEditor;
X-KDOS-Alien=true
