[Desktop Entry]
Type=Application
Name=Sudoku
Comment=Sudoku (alien app, kdos-apps box)
Exec=kdos-appbox run gnome-sudoku
Icon=org.gnome.Sudoku
Terminal=false
Categories=GNOME;GTK;Game;LogicGame;
StartupWMClass=org.gnome.Sudoku
X-KDOS-Alien=true
