[Desktop Entry]
Type=Application
Name=DOSBox Emulator
Comment=DOSBox Emulator (alien app, kdos-apps box)
Exec=kdos-appbox run dosbox
Icon=dosbox
Terminal=false
Categories=Game;Emulator;
X-KDOS-Alien=true
