[Desktop Entry]
Type=Application
Name=Mousepad
Comment=Mousepad (alien app, kdos-apps box)
Exec=kdos-appbox run mousepad %U
Icon=org.xfce.mousepad
Terminal=false
Categories=Utility;TextEditor;GTK;
X-KDOS-Alien=true
