[Desktop Entry]
Type=Application
Name=KiCad
Comment=KiCad (alien app, kdos-apps box)
Exec=kdos-appbox run kicad %f
Icon=kicad
Terminal=false
Categories=Science;Electronics;
X-KDOS-Alien=true
