[Desktop Entry]
Type=Application
Name=Qalculate!
Comment=Qalculate! (alien app, kdos-apps box)
Exec=kdos-appbox run qalculate-gtk
Icon=qalculate
Terminal=false
Categories=GTK;Utility;Calculator;Education;Science;Math;
StartupWMClass=qalculate-gtk
X-KDOS-Alien=true
