[Desktop Entry]
Type=Application
Name=PDF Arranger
Comment=PDF Arranger (alien app, kdos-apps box)
Exec=kdos-appbox run pdfarranger %U
Icon=com.github.jeromerobert.pdfarranger
Terminal=false
Categories=Office;
X-KDOS-Alien=true
