[Desktop Entry]
Type=Application
Name=Zim Desktop Wiki
Comment=Zim Desktop Wiki (alien app, kdos-apps box)
Exec=kdos-appbox run zim %f
Icon=org.zim_wiki.Zim
Terminal=false
Categories=Utility;TextEditor;GTK;
StartupWMClass=org.zim_wiki.Zim
X-KDOS-Alien=true
