[Desktop Entry]
Type=Application
Name=Hydrogen
Comment=Hydrogen (alien app, kdos-apps box)
Exec=kdos-appbox run hydrogen %F
Icon=org.hydrogenmusic.Hydrogen
Terminal=false
Categories=AudioVideo;Audio;Qt;
StartupWMClass=org.hydrogenmusic.Hydrogen
X-KDOS-Alien=true
