[Desktop Entry]
Type=Application
Name=Audacity
Comment=Audio editor (alien app, kdos-apps box)
Exec=kdos-appbox run audacity %U
Icon=audacity
Terminal=false
Categories=AudioVideo;Audio;AudioVideoEditing;
X-KDOS-Alien=true
