[Desktop Entry]
Type=Application
Name=Audacious
Comment=Music player (alien app, kdos-apps box)
Exec=kdos-appbox run audacious %U
Icon=audacious
Terminal=false
Categories=AudioVideo;Player;Audio;
X-KDOS-Alien=true
