[Desktop Entry]
Type=Application
Name=Darktable
Comment=Darktable (alien app, kdos-apps box)
Exec=kdos-appbox run /usr/bin/darktable %U
Icon=darktable
Terminal=false
Categories=Graphics;Photography;GTK;
StartupWMClass=org.darktable.darktable
X-KDOS-Alien=true
