[Desktop Entry]
Type=Application
Name=Shotcut
Comment=Shotcut (alien app, kdos-apps box)
Exec=kdos-appbox run shotcut %F
Icon=org.shotcut.Shotcut
Terminal=false
Categories=AudioVideo;Video;AudioVideoEditing;
X-KDOS-Alien=true
