[Desktop Entry]
Type=Application
Name=LibreOffice Draw
Comment=LibreOffice Draw (alien app, kdos-apps box)
Exec=kdos-appbox run libreoffice --draw %U
Icon=libreoffice-draw
Terminal=false
Categories=Office;FlowChart;Graphics;2DGraphics;VectorGraphics;
StartupWMClass=libreoffice-draw
X-KDOS-Alien=true
