[Desktop Entry]
Type=Application
Name=Audacious
Comment=Audacious (alien app, kdos-apps box)
Exec=kdos-appbox run audacious %U
Icon=audacious
Terminal=false
Categories=AudioVideo;Audio;Player;GTK;
X-KDOS-Alien=true
