[Desktop Entry]
Type=Application
Name=PrusaSlicer
Comment=PrusaSlicer (alien app, kdos-apps box)
Exec=kdos-appbox run prusa-slicer %F
Icon=PrusaSlicer
Terminal=false
Categories=Graphics;3DGraphics;Engineering;
X-KDOS-Alien=true
