[Desktop Entry]
Type=Application
Name=LMMS
Comment=LMMS (alien app, kdos-apps box)
Exec=kdos-appbox run lmms %f
Icon=lmms
Terminal=false
Categories=Qt;AudioVideo;Audio;Midi;
StartupWMClass=lmms
X-KDOS-Alien=true
