[Desktop Entry]
Type=Application
Name=wxMaxima
Comment=wxMaxima (alien app, kdos-apps box)
Exec=kdos-appbox run wxmaxima %f
Icon=io.github.wxmaxima_developers.wxMaxima
Terminal=false
Categories=Education;Math;Science;
StartupWMClass=io.github.wxmaxima_developers.wxMaxima
X-KDOS-Alien=true
