[Desktop Entry]
Type=Application
Name=HexChat
Comment=HexChat (alien app, kdos-apps box)
Exec=kdos-appbox run hexchat --existing %U
Icon=io.github.Hexchat
Terminal=false
Categories=GTK;Network;IRCClient;
StartupWMClass=io.github.Hexchat
X-KDOS-Alien=true
