[Desktop Entry]
Type=Application
Name=Disk Usage Analyzer
Comment=Disk Usage Analyzer (alien app, kdos-apps box)
Exec=kdos-appbox run baobab %U
Icon=org.gnome.baobab
Terminal=false
Categories=GTK;GNOME;System;Filesystem;Utility;
X-KDOS-Alien=true
