[Desktop Entry]
Type=Application
Name=GSmartControl
Comment=GSmartControl (alien app, kdos-apps box)
Exec=kdos-appbox run "/usr/bin/gsmartcontrol-root"
Icon=gsmartcontrol
Terminal=false
Categories=System;Monitor;
StartupWMClass=gsmartcontrol
X-KDOS-Alien=true
