[Desktop Entry]
Type=Application
Name=E-book viewer
Comment=E-book viewer (alien app, kdos-apps box)
Exec=kdos-appbox run ebook-viewer %f
Icon=calibre-viewer
Terminal=false
Categories=Office;Viewer;
StartupWMClass=calibre-ebook-viewer
X-KDOS-Alien=true
