[Desktop Entry]
Type=Application
Name=Disks
Comment=Disks (alien app, kdos-apps box)
Exec=kdos-appbox run gnome-disks
Icon=org.gnome.DiskUtility
Terminal=false
Categories=GNOME;GTK;Utility;X-GNOME-Utilities;
StartupWMClass=org.gnome.DiskUtility
X-KDOS-Alien=true
