[Desktop Entry]
Type=Application
Name=GNU Image Manipulation Program
Comment=GNU Image Manipulation Program (alien app, kdos-apps box)
Exec=kdos-appbox run gimp-3.0 %U
Icon=gimp
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
X-KDOS-Alien=true
