[Desktop Entry]
Type=Application
Name=Document Scanner
Comment=Document Scanner (alien app, kdos-apps box)
Exec=kdos-appbox run simple-scan
Icon=org.gnome.SimpleScan
Terminal=false
Categories=GNOME;GTK;Graphics;Scanning;
StartupWMClass=org.gnome.SimpleScan
X-KDOS-Alien=true
