[Desktop Entry]
Type=Application
Name=GNU Octave
Comment=GNU Octave (alien app, kdos-apps box)
Exec=kdos-appbox run /usr/bin/octave --gui %f
Icon=octave
Terminal=false
Categories=Education;Science;Math;
X-KDOS-Alien=true
