[Desktop Entry]
Type=Application
Name=mpv Media Player
Comment=mpv Media Player (alien app, kdos-apps box)
Exec=kdos-appbox run mpv --player-operation-mode=pseudo-gui -- %U
Icon=mpv
Terminal=false
Categories=AudioVideo;Audio;Video;Player;TV;
X-KDOS-Alien=true
