[Desktop Entry]
Type=Application
Name=Mousepad
Comment=Simple text editor (alien app, kdos-apps box)
Exec=kdos-appbox run mousepad %U
Icon=org.xfce.mousepad
Terminal=false
Categories=Utility;TextEditor;
X-KDOS-Alien=true
