[Desktop Entry]
Type=Application
Name=Meld
Comment=Meld (alien app, kdos-apps box)
Exec=kdos-appbox run meld %F
Icon=org.gnome.Meld
Terminal=false
Categories=GTK;Development;
StartupWMClass=org.gnome.Meld
X-KDOS-Alien=true
