[Desktop Entry]
Type=Application
Name=E-book editor
Comment=E-book editor (alien app, kdos-apps box)
Exec=kdos-appbox run ebook-edit %f
Icon=calibre-ebook-edit
Terminal=false
Categories=Office;WordProcessor
X-KDOS-Alien=true
