[Desktop Entry]
Type=Application
Name=Inkscape
Comment=Inkscape (alien app, kdos-apps box)
Exec=kdos-appbox run inkscape %F
Icon=org.inkscape.Inkscape
Terminal=false
Categories=Graphics;VectorGraphics;GTK;
X-KDOS-Alien=true
