[Desktop Entry]
Type=Application
Name=Xarchiver
Comment=Xarchiver (alien app, kdos-apps box)
Exec=kdos-appbox run xarchiver %f
Icon=xarchiver
Terminal=false
Categories=GTK;Utility;Archiving;Compression;
StartupWMClass=xarchiver
X-KDOS-Alien=true
