[Desktop Entry]
Type=Application
Name=Zeal
Comment=Zeal (alien app, kdos-apps box)
Exec=kdos-appbox run zeal %u
Icon=zeal
Terminal=false
Categories=Development;Documentation;
X-KDOS-Alien=true
