[Desktop Entry]
Type=Application
Name=LibreOffice Base
Comment=LibreOffice Base (alien app, kdos-apps box)
Exec=kdos-appbox run libreoffice --base %U
Icon=libreoffice-base
Terminal=false
Categories=Office;Database;
GenericName=Database Development
MimeType=application/vnd.oasis.opendocument.base;application/vnd.sun.xml.base;
Keywords=Data;SQL;
StartupWMClass=libreoffice-base
X-KDOS-Alien=true
