[Desktop Entry]
Type=Application
Name=LibreOffice Math
Comment=LibreOffice Math (alien app, kdos-apps box)
Exec=kdos-appbox run libreoffice --math %U
Icon=libreoffice-math
Terminal=false
Categories=Office;Math;
GenericName=Formula Editor
MimeType=application/mathml+xml;application/vnd.oasis.opendocument.formula;application/vnd.oasis.opendocument.formula-template;application/vnd.stardivision.math;application/vnd.sun.xml.math;application/x-starmath;text/mathml;
Keywords=Equation;OpenDocument Formula;Formula;odf;MathML;
StartupWMClass=libreoffice-math
X-KDOS-Alien=true
