[Desktop Entry]
Type=Application
Name=LibreOffice Draw
Comment=LibreOffice Draw (alien app, kdos-apps box)
Exec=kdos-appbox run libreoffice --draw %U
Icon=libreoffice-draw
Terminal=false
Categories=Office;FlowChart;Graphics;2DGraphics;VectorGraphics;
GenericName=Drawing Program
MimeType=application/clarisworks;application/pdf;application/vnd.corel-draw;application/vnd.ms-publisher;application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-flat-xml;application/vnd.oasis.opendocument.graphics-template;application/vnd.quark.quarkxpress;application/vnd.stardivision.draw;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;application/vnd.visio;application/x-pagemaker;application/x-stardraw;application/x-wpg;image/x-emf;image/x-freehand;image/x-wmf;
Keywords=Vector;Schema;Diagram;Layout;OpenDocument Graphics;Microsoft Publisher;Microsoft Visio;Corel Draw;cdr;odg;svg;pdf;vsd;
StartupWMClass=libreoffice-draw
X-KDOS-Alien=true
