[Desktop Entry]
Type=Application
Name=LMMS
Comment=LMMS (alien app, kdos-apps box)
Exec=kdos-appbox run lmms %f
Icon=lmms
Terminal=false
Categories=Qt;AudioVideo;Audio;Midi;
GenericName=Music production suite
MimeType=application/x-lmms-project;
Keywords=Audio;MIDI;Multitrack;Sequencer;DAW;ALSA;JACK;LADSPA;VST;Qt;
StartupWMClass=lmms
X-KDOS-Alien=true
