[Desktop Entry]
Type=Application
Name=MuseScore 2
Comment=MuseScore 2 (alien app, kdos-apps box)
Exec=kdos-appbox run mscore %F
Icon=mscore
Terminal=false
Categories=Qt;Audio;Sequencer;Midi;AudioVideoEditing;Music;AudioVideo;
GenericName=Music notation
MimeType=application/x-musescore;application/x-musescore+xml;application/vnd.recordare.musicxml;application/vnd.recordare.musicxml+xml;
Keywords=music;notation;composition;composing;arranging;making;sheet music;music notation software;lead sheet;leadsheet;score;full score;scorewriter;MIDI;musicxml;playback;instrument;
StartupWMClass=mscore
X-KDOS-Alien=true
