[Desktop Entry]
Type=Application
Name=OpenTTD
Comment=OpenTTD (alien app, kdos-apps box)
Exec=kdos-appbox run openttd
Icon=openttd
Terminal=false
Categories=Game;Simulation;
Keywords=game;simulation;transport;tycoon;deluxe;economics;multiplayer;money;train;ship;bus;truck;aircraft;cargo;
StartupWMClass=openttd
X-KDOS-Alien=true
