[Desktop Entry]
Type=Application
Name=BleachBit
Comment=BleachBit (alien app, kdos-apps box)
Exec=kdos-appbox run bleachbit
Icon=bleachbit
Terminal=false
Categories=System;FileTools;GTK;
GenericName=Unnecessary file cleaner
Keywords=cache;clean;free;performance;privacy;
StartupWMClass=bleachbit
X-KDOS-Alien=true
