[Desktop Entry]
Type=Application
Name=Backups
Comment=Backups (alien app, kdos-apps box)
Exec=kdos-appbox run deja-dup %u
Icon=org.gnome.DejaDup
Terminal=false
Categories=Utility;Archiving;GNOME;GTK;X-GNOME-Utilities;
MimeType=x-scheme-handler/com.googleusercontent.apps.916137916439-evn6skqan91m96fmsskk8102e3iepv22;x-scheme-handler/msal5291592c-3c09-44fb-a275-5027aa238645;
Keywords=déjà;deja;dup;
StartupWMClass=org.gnome.DejaDup
X-KDOS-Alien=true
