[Desktop Entry]
Type=Application
Name=GHex
Comment=GHex (alien app, kdos-apps box)
Exec=kdos-appbox run ghex %F
Icon=org.gnome.GHex
Terminal=false
Categories=GNOME;GTK;Development;
GenericName=Hex Editor
Keywords=binary;debug;hexadecimal;
StartupWMClass=org.gnome.GHex
X-KDOS-Alien=true
