[Desktop Entry]
Type=Application
Name=gThumb
Comment=gThumb (alien app, kdos-apps box)
Exec=kdos-appbox run gthumb %U
Icon=org.gnome.gThumb
Terminal=false
Categories=GNOME;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
GenericName=Image Viewer
MimeType=image/bmp;image/jpeg;image/gif;image/png;image/tiff;image/x-bmp;image/x-ico;image/x-png;image/x-pcx;image/x-tga;image/xpm;image/svg+xml;image/webp;image/jxl;
Keywords=Image;Viewer;
StartupWMClass=org.gnome.gThumb
X-KDOS-Alien=true
