[Desktop Entry]
Type=Application
Name=Darktable
Comment=Darktable (alien app, kdos-apps box)
Exec=kdos-appbox run /usr/bin/darktable %U
Icon=darktable
Terminal=false
Categories=Graphics;Photography;GTK;
GenericName=Virtual Lighttable and Darkroom
MimeType=application/x-darktable;image/x-dcraw;image/x-adobe-dng;image/x-canon-cr2;image/x-canon-crw;image/x-fuji-raf;image/x-kodak-dcr;image/x-kodak-kdc;image/x-minolta-mrw;image/x-nikon-nef;image/x-nikon-nrw;image/x-olympus-orf;image/x-panasonic-rw;image/x-panasonic-rw2;image/x-pentax-pef;image/x-sony-arw;image/x-sony-sr2;image/x-sony-srf;image/jpeg;image/png;image/tiff;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-portable-floatmap;image/vnd.radiance;image/avif;image/x-canon-cr3;image/x-exr;image/aces;image/heif;image/heic;image/hej2k;image/avci;image/jp2;image/jxl;image/webp;image/qoi;image/fits
Keywords=graphics;photography;raw;
StartupWMClass=darktable
X-KDOS-Alien=true
