[Desktop Entry]
Type=Application
Name=ScummVM
Comment=ScummVM (alien app, kdos-apps box)
Exec=kdos-appbox run scummvm
Icon=org.scummvm.scummvm
Terminal=false
Categories=Game;AdventureGame;
StartupWMClass=scummvm
X-KDOS-Alien=true
