[Desktop Entry]
Type=Application
Name=Inkscape
Comment=Inkscape (alien app, kdos-apps box)
Exec=kdos-appbox run inkscape %F
Icon=org.inkscape.Inkscape
Terminal=false
Categories=Graphics;VectorGraphics;GTK;
GenericName=Vector Graphics Editor
MimeType=image/svg+xml;image/svg+xml-compressed;application/vnd.corel-draw;application/pdf;application/postscript;image/x-eps;application/illustrator;image/x-wmf;image/x-emf;application/x-xccx;application/x-xcdt;application/x-xcmx;image/x-xcdr;application/visio;application/x-visio;application/vnd.visio;application/vnd.ms-visio.viewer;application/visio.drawing;application/vsd;application/x-vsd;image/x-vsd;
Keywords=image;editor;vector;drawing;
StartupWMClass=org.inkscape.Inkscape
X-KDOS-Alien=true
