[Desktop Entry]
Type=Application
Name=KiCad
Comment=KiCad (alien app, kdos-apps box)
Exec=kdos-appbox run kicad %f
Icon=kicad
Terminal=false
Categories=Science;Electronics;
GenericName=EDA Suite
MimeType=application/x-kicad-project;
Keywords=KiCad;Projectmanager;
StartupWMClass=kicad
X-KDOS-Alien=true
