[Desktop Entry]
Type=Application
Name=Zeal
Comment=Zeal (alien app, kdos-apps box)
Exec=kdos-appbox run zeal %u
Icon=zeal
Terminal=false
Categories=Development;Documentation;
GenericName=Documentation Browser
MimeType=x-scheme-handler/dash;x-scheme-handler/dash-plugin;
StartupWMClass=Zeal
X-KDOS-Alien=true
