[Desktop Entry]
Type=Application
Name=Sioyek
Comment=Sioyek (alien app, kdos-apps box)
Exec=kdos-appbox run sioyek %f
Icon=sioyek-icon-linux
Terminal=false
Categories=Development;Viewer;
MimeType=application/pdf;
Keywords=pdf;viewer;reader;research;
StartupWMClass=sioyek
X-KDOS-Alien=true
