[Desktop Entry]
Type=Application
Name=SolveSpace
Comment=SolveSpace (alien app, kdos-apps box)
Exec=kdos-appbox run /usr/bin/solvespace %f
Icon=solvespace
Terminal=false
Categories=Graphics;3DGraphics;Engineering;
MimeType=application/x-solvespace
Keywords=parametric;cad;2d;3d;
StartupWMClass=solvespace
X-KDOS-Alien=true
