[Desktop Entry]
Type=Application
Name=DB Browser for SQLite
Comment=DB Browser for SQLite (alien app, kdos-apps box)
Exec=kdos-appbox run sqlitebrowser %f
Icon=sqlitebrowser
Terminal=false
Categories=Development;Utility;Database;
MimeType=application/vnd.db4s-project+xml;application/sqlitebrowser;application/x-sqlitebrowser;application/vnd.sqlite3;application/geopackage+sqlite3;application/x-sqlite2;application/x-sqlite3;text/csv;
StartupWMClass=sqlitebrowser
X-KDOS-Alien=true
