[Desktop Entry]
Type=Application
Name=Transmission
Comment=Transmission (alien app, kdos-apps box)
Exec=kdos-appbox run transmission-gtk %U
Icon=transmission
Terminal=false
Categories=Network;FileTransfer;P2P;GTK;
GenericName=BitTorrent Client
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Keywords=torrents;downloading;uploading;share;sharing;
StartupWMClass=transmission-gtk
X-KDOS-Alien=true
